---
fixedFooter: true
---

<!doctype html>
<html style="scroll-behavior: smooth;">
    <head>
        {% include "components/head.njk" %}
    </head>
    <body class="--lichtaBG">
        {% include "components/header.njk" %}
        <div class="textBox" style="margin: auto auto auto 5%">
            {{ content | safe }}
        </div>
        {% include "components/footer.njk" %}
    </body>
</html>