---
---

<!doctype html>
<html style="scroll-behavior: smooth;">
    <head>
        {% include "components/head.njk" %}
    </head>
    <body class="">
        {% include "components/header.njk" %}
        <div class="textBox">
            {{ content | safe }}
        </div>
        {% include "components/footer.njk" %}
    </body>
</html>