<footer class="footer {% if fixedFooter %} footer--fixed" {% else %} {% endif %}>
    <div class="footer__item">
        <span class="footer__item__text">©2020&nbsp;LICHTA</span>
        <!-- div class="footer__item__underline"></div -->
    </div>
    <div class="footer__item">·</div>
    <a class="footer__item" href="mailto:stephane.lalande@orange.fr">
        <span class="footer__item__text --underline">stephane.lalande@orange.fr</span>
        <!-- div class="footer__item__underline"></div -->
    </a>
    <div class="footer__item">·</div>
    <a class="footer__item --underline" target="_blank" href="https://www.instagram.com/lichta2022/">
        <span class="footer__item__text insta">lichta2022&nbsp;</span>
        <!-- div class="footer__item__underline"></div -->
    </a>
    <div class="footer__item">·</div>
    <a class="footer__item --underline" target="_blank" href="https://www.pcagalleryart.com">
        <span class="footer__item__text">Gallery&nbsp;PcaGalleryArt</span>
        <!-- div class="footer__item__underline"></div -->
    </a>
    <a class="footer__item footer__item--rightHand --underline" href="{{ website.url }}/copyright">
        <p class="footer__item__text">Propriété Intellectuelle, Droit d'Auteur</p>
        <!-- div class="footer__item__underline"></div -->
    </a>
</footer>
<div class="backToTop" onclick="window.scrollTo({ top: 0, left: 0, behavior: 'smooth'});">
    <span class="backToTop__icon"></span>
</div>