<header id="header" class="header">
    <a class="header__logo" href="{{ website.url }}/#">
        <span class="header__logo__text --underline">LICHTA</span>
        <!-- div class="header__logo__underline"></div -->
    </a>
    <nav class="navbar">
        <a class="navbar__item" href="{{ website.url }}/bio">
            <span class="navbar__item__text --underline">ARTISTE&nbsp;PEINTRE&nbsp;CONTEMPORAIN</span>
            <!-- div class="navbar__item__underline"></div -->
        </a>
        <a class="navbar__item" href="{{ website.url }}/#chapters">
            <span class="navbar__item__text --underline">COLLECTIONS</span>
            <!-- div class="navbar__item__underline"></div -->
        </a>
    </nav>
</header>
<!-- <div class="header__underBlock">
    <p class="header__underBlock__text">
        <a class="insta" target="_blank" href="https://www.instagram.com/lichta2022/">lichta2022&nbsp;</a>
    </p>
</div> -->