<div id="modal_window" class="modalWindow">
    <img id="spinner" class="spinner spinning" src="{{website.url}}/includes/assets/images/load.png">
    <div id="modal_image_container" class="modalWindow__container">
        <img id="modal_image" class="modalImage" src="">
    </div>
    <div class="controlBar">
        <div class="controlBar__button" style="background-color: #00000033;">
            <a id="purchase_link" class="controlBar__purchaseLink" target="_blank" rel="noopener noreferrer" href="">
                <img src="{{website.url}}/includes/assets/images/external_link.png">
                <p id="buy_link_text">...</p>
            </a>
        </div>
        <div id="previous" class="controlBar__button controlBar__button--previous"><img src="{{ website.url }}/includes/assets/images/arrow.png" alt=" &#171; ">
        </div>
        <a id="pagination" class="controlBar__pagination">
            1/1
        </a>
        <div id="next" class="controlBar__button controlBar__button--next"><img src="{{ website.url }}/includes/assets/images/arrow.png" alt=" &#187; ">
        </div>
        <div id="close" class="controlBar__button controlBar__button--close"><img src="{{ website.url }}/includes/assets/images/cross.png" alt=" X ">
        </div>
    </div>
    <div id="contextual_menu" class="modalWindow__contextualMenu">
        <a id="menu_link" href="">
            <span class="modalWindow__contextualMenu__element">Voir en Détail</span>
        </a>
        <span id="menu_previous" class="modalWindow__contextualMenu__element">Précédant</span>
        <span id="menu_next" class="modalWindow__contextualMenu__element">Suivant</span>
        <span id="menu_close" class="modalWindow__contextualMenu__element">Fermer</span>
    </div>
</div>